.classify_article_1{
    display: block;
    color: #262626;
    background-color: rgba(0,0,0,0.03);
    border-radius:8px;
    margin-bottom: 10px;
    padding:10px;
    cursor: pointer;
}
.classify_article_1:hover{
    color: #262626;
}
.classify_article_title{
    display: block;
    font-size: 17px;
    font-weight: 600;
}
.classify_article_content{
    display: block;
}
.classify_article_time{
    float: right;
}
.classify_article_comment{
    float: right;
}
.classify_article_2{
    margin-top: 5px;
    overflow: hidden;
}