.top{
    width: 1140px;
    height: 705px;
    background-image: url("/static/Gavin/timg.jpg");
    margin:0 auto;
    padding-top: 352px;
}
.top .top_sapn1{
    display: block;
    font-size: 50px;
    font-weight: 100;
    color: white;
    text-align: center;
}
.top .top_sapn2{
    display: block;
    font-size: 20px;
    font-weight: 100;
    color: white;
    text-align: center;
}
.top_head{
    width: 1140px;
    height: 60px;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    left:50%;
    margin-left: -570px;
}
.head_left{
    padding-left: 25px;
    padding-right: 25px;
    height:60px;
    float: left;
    color: white;
    font-weight: 100;
    font-size: 16px;
    opacity: 1.0;
    line-height: 60px;
    cursor: pointer;
}
.head_left:hover{
    background-color: white;
    color: black;
}
.head_right{
    padding-left: 40px;
    padding-right: 40px;
    height:60px;
    float: right;
    color: white;
    font-weight: 100;
    font-size: 16px;
    opacity: 1.0;
    line-height: 60px;
    cursor: pointer;
    text-decoration: none;
}
.head_right:hover{
    background-color: white;
    color: black;
    text-decoration: none;
}

.article{
    margin:0 auto;
    width: 1140px;
}
.bottom_article{
    cursor: pointer;
    overflow: hidden;
    margin-top: 20px;
    background-color: #f1f1f1;
    border-radius:8px;
    padding-bottom: 10px;
}

.title{
    display: block;
    color: #7b7b7b;
    font-size: 22px;
    margin-top:10px;
    margin-left: 15px;
}
.content{
    margin-top: 10px;
    display: block;
    font-size: 15px;
    color: #838383;
    margin-left: 15px;
}
.time{
    margin-top: 5px;
    margin-right: 5px;
    float: right;
    font-size: 15px;
    color: #a6a6a6;
}
.comment_count{
    color: #a6a6a6;
    float: right;
    padding-top: 8px;
}
.comment_count_span{
    position: relative;
    right: 10px;
    bottom: 1.5px;
}
